<div class="col-12 col-lg-6 feedback">
  <div class="row feedback__header">
    <div class="col-8 feedback__introduction">
      <img alt="{{feedback__alt}}" src="{{feedback__photo}}" class="feedback__photo" />
      <div class="feedback__person">
        <p class="text text--lg">{{feedback__person}}</p>
        <p class="text text--blue feedback__position">{{feedback__position}}</p>
      </div>
    </div>
    <div class="col-4 feedback__icon">
      <img src="{{feedback__icon}}" class="feedback__image" alt="{{alt__icon}}" />
    </div>
  </div>
  <p class="text text-base feedback__content">{{feedback__content}}</p>
</div>
