.btn {
  height: 3.125rem;
  color: var(--light-color);
  background: var(--secondary-color);
  border: none;
  font-size: 0.875rem;
  font-family: "Muli";
  font-weight: var(--fw-bold);
  line-height: 1.4;
  text-transform: uppercase;
  cursor: pointer;
}

.btn--primary {
  width: 11.25rem;
}

.btn--secondary {
  width: 58%;
}

.btn--primary:hover,
.btn--secondary:hover {
  color: var(--secondary-color);
  border: 0.0625rem solid var(--secondary-color);
  background: var(--light-color);
}

.btn--light {
  width: 62%;
  color: var(--secondary-color);
  background: var(--light-color);
}

.btn--light:hover {
  color: var(--light-color);
  background: var(--secondary-color);
  border: 0.0625rem solid var(--light-color);
}

@media (min-width: 576px) {
  .btn--secondary {
    width: 18.75rem;
  }

  .btn--light {
    width: 20rem;
  }
}
