.feedbacks {
  margin-top: 50px;
}

.feedbacks > .row {
  row-gap: 50px;
}

.feedback {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  background: var(--light-color);
  padding: 2.5em;
  box-shadow: var(--shadow-color) 0px 8px 24px;
}

.feedback__photo {
  width: 40%;
  max-width: 100px;
  object-fit: contain;
  height: 100px;
}

.feedback__introduction {
  display: flex;
  align-items: center;
}

.feedback__icon {
  justify-self: end;
}

.feedback__image {
  max-width: 100%;
}

.feedback__person {
  width: 60%;
  max-width: 100%;
  padding-left: 1.25em;
  word-wrap: break-word;
}

.feedback__position {
  font-size: 0.875em;
  font-weight: var(--fw-semibold);
  line-height: 2.143;
}

.feedback:hover {
  box-shadow: var(--shadow-sm-color) 0px 4px 20px, var(--shadow-sm-color) 0px 12px 52px,
    var(--shadow-sm-color) 0px 20px 76px;
}

@media (min-width: 576px) {
  .feedback__person {
    min-width: 340px;
  }
  .feedback__photo {
    min-width: 100px;
  }
}

@media (min-width: 992px) {
  .feedbacks > .row {
    column-gap: 2.5em;
    margin-top: 0;
  }
}
