.main-footer {
  margin-top: 60px;
  padding: 40px 40px 0 40px;
  background: var(--bg-transparent-md-color);
}

.footer__logo {
  height: 50px;
  margin-left: 20px;
}

.logo__content {
  width: 200px;
  background: url("../../../images/logo-background.png");
  background-size: 200px 50px;
}

.footer__navbar {
  margin-top: 40px;
}

.footer__list {
  display: grid;
  row-gap: 20px;
  max-width: 480px;
}

.footer__link {
  height: 50px;
  cursor: pointer;
}

.footer__social {
  justify-content: end;
  gap: 15px;
}

.footer__icon {
  align-items: center;
  width: 50px;
  height: 50px;
}

.footer__icon--facebook {
  justify-content: end;
}

.footer__icon--instagram {
  justify-content: start;
}

.footer__image {
  grid-column: 12;
  justify-self: end;
  align-self: end;
  width: 55px;
  height: 60px;
  object-fit: cover;
}

@media (min-width: 992px) {
  .main-footer > .row {
    column-gap: 20px;
  }

  .footer__wrapper {
    grid-template-areas: "logo__footer logo__menu logo__socials footer__image ";
    gap: 20px;
  }

  .footer__logo {
    grid-area: logo__footer;
    grid-column: 1;
  }

  .footer__navbar {
    grid-area: logo__menu;
    grid-column: 2;
    margin: unset;
  }

  .footer__list {
    width: 380px;
    height: 50px;
  }

  .footer__link {
    margin: unset;
  }

  .footer__social {
    grid-area: logo__socials;
    grid-column: 3;
    justify-content: center;
    gap: unset;
    margin-left: 10px;
  }

  .footer__social {
    justify-content: center;
    gap: unset;
  }

  .footer__icon {
    width: 50px;
    height: 50px;
  }

  .footer__icon--facebook,
  .footer__icon--instagram {
    justify-content: center;
  }

  .footer__image {
    grid-area: footer__image;
    grid-column: 4;
    width: 90px;
    height: 100px;
  }
}

@media (min-width: 1200px) {
  .main-footer {
    padding: 40px 0 0 0;
  }

  .main-footer > .row {
    max-width: var(--screen-big-lg);
    margin: 0 auto;
  }

  .footer__logo {
    margin-left: unset;
  }

  .footer__navbar {
    margin-left: 50px;
  }

  .footer__list {
    width: 480px;
  }
}
