.process {
  margin-top: 120px;
}

.steps {
  row-gap: 40px;
  margin-top: 60px;
}

.step {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  background: var(--light-color);
  box-shadow: 0px 20px 60px 0px var(--shadow-color);
}

.step__header {
  display: flex;
  justify-content: space-between;
}

.step__upload {
  font-size: 18px;
  font-weight: var(--fw-bold);
  line-height: 40px;
  text-transform: uppercase;
}

.step__icon {
  max-width: 40px;
  width: 40px;
  height: 36px;
}

.step:first-child::before,
.step:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 110%;
  width: 40px;
  border-width: 3px;
  border-color: var(--second-color);
  border-top-style: dashed;
  transform: rotate(90deg);
}

.step:hover {
  box-shadow: var(--shadow-sm-color) 0px 4px 20px, var(--shadow-sm-color) 0px 12px 52px,
    var(--shadow-sm-color) 0px 20px 76px;
}

@media (min-width: 992px) {
  .steps {
    column-gap: 40px;
  }

  .step:nth-child(2) {
    margin-top: 40px;
  }

  .step:last-child {
    margin-top: 80px;
  }

  .step:first-child::before,
  .step:nth-child(2)::before {
    top: 50%;
    left: 100%;
    width: 40px;
    transform: unset;
  }
}

@media (min-width: 1200px) {
  .process {
    height: 415px;
  }

  .steps {
    column-gap: 80px;
    margin-top: 50px;
  }

  .step {
    height: 220px;
  }

  .step:first-child::before,
  .step:nth-child(2)::before {
    top: 50%;
    width: 80px;
    transform: unset;
  }
}
