.stories {
  margin-top: 3.75em;
}

.stories__list {
  row-gap: 3.75em;
  margin-top: 50px;
}

.story {
  /* display: flex; */
  flex-direction: column;
  gap: 1.25em;
}

.story__header {
  gap: 1.25em;
}

.story__icon {
  width: 25px;
  height: 30px;
}

.story__icon--img {
  max-width: 100%;
  height: auto;
}

.story__title {
  color: var(--black-color);
}

.story__body {
  gap: 1.875em;
  flex-direction: column;
  margin-left: 3.75em;
  color: var(--black-color);
}

.story__content {
  font-weight: var(--fw-normal);
}

.story__link {
  color: var(--black-color);
  font-weight: var(--fw-normal);
  line-height: 1.4;
  text-decoration: underline;
}

.story--second {
  gap: 1.25em;
}

@media (min-width: 576px) {
  .story__icon {
    width: 40px;
  }
}

@media (min-width: 1200px) {
  .stories {
    margin-top: unset;
  }

  .stories__list {
    column-gap: 100px;
  }

  .story {
    gap: 1.875em;
    width: 480px;
  }

  .story--second .story__content:first-child {
    width: 300px;
  }
}
