.users {
  margin-top: 125px;
}

.user__title {
  color: var(--primary-color);
  font-weight: var(--fw-bold);
  line-height: 40px;
  text-transform: uppercase;
}

.users__title--lg {
  display: none;
}

.users__list {
  gap: 20px;
  margin-top: 60px;
}

.user {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background: var(--primary-bg-color);
  box-shadow: 0px 20px 60px 0px var(--shadow-color);
}

.user:hover {
  box-shadow: var(--shadow-sm-color) 0px 4px 20px, var(--shadow-sm-color) 0px 12px 52px,
    var(--shadow-sm-color) 0px 20px 76px;
}

@media (min-width: 992px) {
  .users {
    margin-top: 79px;
  }

  .users__title--lg {
    display: block;
  }

  .users__title {
    display: none;
  }
}
