@font-face {
  font-family: "Muli";
  src: url("Muli-Italic.eot");
  src: url("Muli-Italic.eot?#iefix") format("embedded-opentype"),
    url("Muli-Italic.woff2") format("woff2"),
    url("Muli-Italic.woff") format("woff"),
    url("Muli-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url("Muli-Light.eot");
  src: url("Muli-Light.eot?#iefix") format("embedded-opentype"),
    url("Muli-Light.woff2") format("woff2"),
    url("Muli-Light.woff") format("woff"),
    url("Muli-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url("Muli-LightItalic.eot");
  src: url("Muli-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("Muli-LightItalic.woff2") format("woff2"),
    url("Muli-LightItalic.woff") format("woff"),
    url("Muli-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url("Muli-Bold.eot");
  src: url("Muli-Bold.eot?#iefix") format("embedded-opentype"),
    url("Muli-Bold.woff2") format("woff2"), url("Muli-Bold.woff") format("woff"),
    url("Muli-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url("Muli.eot");
  src: url("Muli.eot?#iefix") format("embedded-opentype"),
    url("Muli.woff2") format("woff2"), url("Muli.woff") format("woff"),
    url("Muli.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url("Muli-BoldItalic.eot");
  src: url("Muli-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("Muli-BoldItalic.woff2") format("woff2"),
    url("Muli-BoldItalic.woff") format("woff"),
    url("Muli-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url("Muli-ExtraLight.eot");
  src: url("Muli-ExtraLight.eot?#iefix") format("embedded-opentype"),
    url("Muli-ExtraLight.woff2") format("woff2"),
    url("Muli-ExtraLight.woff") format("woff"),
    url("Muli-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url("Muli-SemiBold.eot");
  src: url("Muli-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("Muli-SemiBold.woff2") format("woff2"),
    url("Muli-SemiBold.woff") format("woff"),
    url("Muli-SemiBold.ttf") format("truetype");
  font-weight: var(--fw-semibold);
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url("Muli-ExtraLightItalic.eot");
  src: url("Muli-ExtraLightItalic.eot?#iefix") format("embedded-opentype"),
    url("Muli-ExtraLightItalic.woff2") format("woff2"),
    url("Muli-ExtraLightItalic.woff") format("woff"),
    url("Muli-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url("Muli-Semi-BoldItalic.eot");
  src: url("Muli-Semi-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("Muli-Semi-BoldItalic.woff2") format("woff2"),
    url("Muli-Semi-BoldItalic.woff") format("woff"),
    url("Muli-Semi-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
