.main-footer {
  display: flex;
  margin-top: 110px;
  align-items: center;
  justify-content: space-between;
}
.footer__logo {
  display: flex;
  height: 50px;
}
.logo__content {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../images/footer/logo-background.png");
  background-size: 200px 50px;
}
.logo__content a {
  color: var(--second-color);
}
.footer__list {
  display: flex;
  width: 480px;
}
.footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 120px;
  height: 50px;
  cursor: pointer;
}
.footer__link a {
  color: var(--third-color);
}
.footer__link:hover a {
  color: var(--second-color);
}
.footer__social {
  display: flex;
}
.footer__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}
.footer__img {
  width: 90px;
  height: 100px;
  object-fit: cover;
}
