.main-header {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__button {
  box-sizing: border-box;
  width: 180px;
  height: 50px;
  margin-left: 20px;
}
.header__logo {
  padding-right: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__button:hover {
  color: var(--second-color);
  border: 1px solid var(--second-color);
  background: var(--primary-bg-color);
}
.logo__img {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}
.logo__text {
  width: 100px;
  text-align: center;
  color: var(--second-color);
}
.header__navbar {
  display: flex;
  justify-content: space-between;
}
.header__list {
  display: inherit;
  align-items: center;
}
.header__list li {
  padding-left: 30px;
  padding-right: 30px;
}
.header__link {
  color: var(--third-color);
  text-align: center;
}
