.features {
  margin-top: 7.8125rem;
}

.feature__list {
  row-gap: 3.75rem;
  margin-top: 3.75rem;
}

.feature {
  position: relative;
  background: var(--light-color);
  box-shadow: var(--shadow-color) 0 0.5rem 1.5rem;
}

.feature:hover {
  box-shadow: var(--shadow-sm-color) 0 0.25rem 1.25rem, var(--shadow-sm-color) 0 0.75rem 3.25rem,
    var(--shadow-sm-color) 0 1.25rem 4.75rem;
}

.feature__header {
  align-items: center;
  background: var(--bg-pale-blue-color);
}

.feature__image {
  min-width: 5rem;
  width: 5rem;
  height: 100%;
}

.feature__title {
  padding: 1.25rem;
}

.feature__content {
  padding: 1.875rem 2.5rem;
}

.feature:first-child::before,
.feature:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 114%;
  left: 6%;
  width: 3.75rem;
  border-width: 0.1875rem;
  border-color: var(--button-color);
  border-top-style: dashed;
  transform: rotate(90deg);
}

@media (min-width: 992px) {
  .feature__list {
    column-gap: 2.5rem;
  }

  .feature:first-child::before,
  .feature:nth-child(2)::before {
    display: none;
  }
}

@media (min-width: 1200px) {
  .features {
    margin-top: 7.1875rem;
  }

  .feature__list {
    column-gap: 5rem;
  }

  .feature {
    height: 18.125rem;
  }

  .feature__content {
    padding: 2.5rem;
  }

  .feature__image {
    min-width: 7.5rem;
    width: 7.5rem;
    height: 7.5rem;
  }

  .feature:nth-child(2) {
    margin-top: 2.5rem;
  }
  .feature:last-child {
    margin-top: 5rem;
  }
}
