.schedule {
  margin-top: 3.75rem;
}

.schedule__wrapper {
  position: relative;
  width: 100%;
  background: var(--secondary-color);
}

.schedule__title {
  color: var(--light-color);
  font-weight: var(--fw-bold);
}

.schedule__content {
  padding: 3.75rem 0;
}

.schedule__information {
  flex-direction: column;
}

.schedule__description {
  padding: 3.125rem 0 2.375rem 0;
  color: var(--light-color);
  font-weight: var(--fw-normal);
}

.schedule__image {
  position: absolute;
  top: 1.25rem;
  right: 0;
}

.schedule__image--img {
  max-inline-size: 100%;
  block-size: auto;
}

.schedule__information .title-section::before {
  background: var(--light-color);
  box-shadow: var(--secondary-color) 0 0.5rem 1.5rem;
}

@media (min-width: 1200px) {
  .schedule {
    height: 35.625rem;
    margin-top: 7.5rem;
  }

  .schedule__description {
    width: 40rem;
    padding: 3.75rem 0 2.5rem 0;
  }

  .schedule__content {
    padding: 5rem 0;
  }
}
