.hero {
  position: relative;
}
.hero__title {
  width: 600px;
  height: 120px;
  color: var(--gray-color);
  letter-spacing: 1px;
}
.hero__description {
  width: 650px;
  height: 120px;
  margin-top: 20px;
  margin-bottom: 40px;
}
.hero__img {
  position: absolute;
  left: 521px;
  top: 48px;
}
.hero__img img {
  width: 599px;
  height: 502px;
}
.hero__button:hover {
  color: var(--second-color);
  border: 1px solid var(--second-color);
  background: var(--primary-bg-color);
}
