.process {
  height: 415px;
  margin-top: 72px;
}
.steps {
  display: flex;
  gap: 80px;
  padding-top: 50px;
}
.step {
  box-sizing: border-box;
  position: relative;
  flex-basis: 320px;
  height: 220px;
  padding: 40px;
  background: var(--primary-bg-color);
  box-shadow: 0px 20px 60px 0px var(--shadow-color);
}
.step__header {
  display: flex;
  justify-content: space-between;
}
.step__upload {
  font-size: 18px;
  font-weight: var(--fw-bold);
  line-height: 40px;
  text-transform: uppercase;
}
.step__icon img {
  width: 40px;
  height: 36px;
  flex-shrink: 0;
}
.step__content {
  margin-top: 20px;
}
.step:nth-child(2) {
  margin-top: 40px;
}
.step:last-child {
  margin-top: 80px;
}
.step:first-child::before,
.step:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 325px;
  width: 70px;
  border-width: 3px;
  border-color: var(--second-color);
  border-top-style: dashed;
}
.step:hover {
  scale: 1.02;
  box-shadow: #640def1a 5px 5px, #3835f04d 8px 8px, #2e31f033 12px 12px,
    #5424f11a 18px 18px, #2127e208 22px 22px;
}
