.services {
  margin-top: 146px;
}
.services h1 {
  font-weight: var(--fw-normal);
}
.services__list {
  padding-top: 50px;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}
.service {
  box-sizing: border-box;
  display: flex;
  flex-basis: 540px;
  background: var(--primary-bg-color);
  box-shadow: 0px 20px 60px 0px var(--shadow-color);
}
.service img {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
}
.service__content {
  color: var(--third-color);
  padding: 20px;
  line-height: 40px;
}
