.stories {
  margin-top: 120px;
}
.stories__list {
  display: flex;
  gap: 150px;
  margin-top: 60px;
}
.story,
.story__second {
  display: flex;
  flex-basis: 480px;
  flex-direction: column;
  gap: 30px;
}
.story__header {
  display: flex;
  gap: 20px;
}
.story__icon {
  width: 40px;
  height: 33px;
}
.story__title {
  color: var(--black-color);
}
.story__content {
  display: flex;
  flex-basis: 240px;
  flex-direction: column;
  align-self: flex-end;
  justify-content: space-between;
  width: 420px;
  color: var(--third-color);
  font-weight: var(--fw-normal);
}
.story__content a {
  color: var(--third-color);
  text-decoration: underline;
  font-weight: var(--fw-normal);
  line-height: 30px;
}
.story__second {
  gap: 20px;
}
