/*------------------------------------*\
  #CSS VARIABLES
\*------------------------------------*/
:root {
  --primary-font: "Muli";
  --fw-bold: 700;
  --fw-semibold: 600;
  --fw-normal: 400;
  --fw-light: 300;
  --fw-extralight: 200;

  --primary-color: #1968fa;
  --second-color: #1968fc;
  --third-color: #000000;
  --gray-color: #11223f;
  --dark-color: #111111;
  --light-color: #ffffff;
  --shadow-color: #3145f419;
  --shadow-sm-color: #11111a1a;

  --width-small: 81%;
  --width-medium: 90%;
  --width-large: 100%;

  --screen-md: 768px;
  --screen-small-lg: 1120px;
}
