/* || Button Component */
.btn {
  color: var(--primary-bg-color);
  display: flex;
  font-family: "Muli";
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  background: #1968fc;
  text-shadow: 0px 10px 40px 0px rgba(25, 104, 252, 0.2);
}
