.card {
  box-sizing: border-box;
  position: relative;
  padding: 20px;
  flex-basis: 360px;
  flex-shrink: 0;
  box-shadow: 0px 20px 60px 0px var(--shadow-color);
}
.card__header {
  color: var(--primary-color);
  text-transform: uppercase;
}
.card__content {
  padding-top: 20px;
}
