.decoration {
  position: absolute;
  top: 200px;
  left: 300px;
  width: 25px;
  height: 25px;
}
/* .decoration--layout */
.decoration--layout {
  position: relative;
  width: 100%;
  height: 100%;
}
.decoration--top {
  position: relative;
  width: 80%;
  height: 80%;
  background: #3749f11a;
}
.decoration--middle {
  position: relative;
  width: 50%;
  height: 50%;
  background: var(--second-color);
  transform: translate(100%, 100%);
}
.decoration--bottom {
  position: absolute;
  width: 60%;
  height: 60%;
  background: #3749f11a;
  transform: translate(66.7%, -66.7%);
}
