.titleElement,
.titleElement__user {
  text-transform: uppercase;
  position: relative;
}
.titleElement::before,
.titleElement__user::before {
  content: "";
  width: 80px;
  height: 2px;
  position: absolute;
  top: 70px;
  left: -40px;
  background: var(--second-color);
  box-shadow: 0px 2px 0px 0px #d1e1fe;
}
.titleElement__user::before {
  top: 85px;
}
