<section class="features container">
  <h2 class="title-section text">Features</h2>
  <div class="row feature__list">
    <div class="col-12 col-lg-4 feature">
      <div class="feature__header">
        <img src="assets/images/pixel-perfect.png" class="feature__image" alt="perfect" />
        <h3 class="text feature__title">Pixel perfect output</h3>
      </div>
      <div class="feature__content">
        <p class="text text--base">Crisp, pixel-perfect landing pages without bothering your developers</p>
      </div>
    </div>
    <div class="col-12 col-lg-4 feature">
      <div class="feature__header">
        <img src="assets/images/flexible-responsive.png" class="feature__image" alt="responsive" />
        <h3 class="text feature__title">Flexible & responsive</h3>
      </div>
      <div class="feature__content">
        <p class="text text--base">Your web pages will flexibly adapt to different browser window sizes</p>
      </div>
    </div>
    <div class="col-12 col-lg-4 feature">
      <div class="feature__header">
        <img src="assets/images/reusable-components.png" class="feature__image" alt="component" />
        <h3 class="text feature__title">Complete code freedom</h3>
      </div>
      <div class="feature__content">
        <p class="text text--base">VanGoux gives you source code of your website, so you can add your own logic</p>
      </div>
    </div>
  </div>
</section>
