<div class="feedbacks container">
  <div class="row">
    <div class="col-12 col-lg-6 feedback">
      <div class="row feedback__header">
        <div class="col-8 feedback__introduction">
          <img src="assets/images/man.png" alt="person" class="feedback__photo" />
          <div class="feedback__person">
            <p class="text text--lg">John Doe</p>
            <p class="text text--blue feedback__position">CEO, PrettyDopeDesigns</p>
          </div>
        </div>
        <div class="col-4 feedback__icon">
          <img src="assets/icons/quote.svg" class="feedback__image" alt="quote" />
        </div>
      </div>
      <p class="text text--base feedback__content show">
        “Our senior frontend developer was 70% faster in building React.js components thanks to VanGoux!”
      </p>
      <p class="text text--base feedback__content hide">
        “Thanks to VanGoux, our senior frontend developer was 70% faster in building React.js components!”
      </p>
    </div>
    <div class="col-12 col-lg-6 feedback">
      <div class="row feedback__header">
        <div class="col-8 feedback__introduction">
          <img alt="person" src="assets/images/woman.png" class="feedback__photo" />
          <div class="feedback__person">
            <p class="text text--lg">Jane Goodman</p>
            <p class="text text--blue feedback__position">Founder, ImpactNation</p>
          </div>
        </div>
        <div class="col-4 feedback__icon">
          <img src="assets/icons/quote.svg" class="feedback__image" alt="quote" />
        </div>
      </div>
      <p class="text text-base feedback__content">
        “It was awesome to see VanGoux turn our MVP designs into code within minutes.”
      </p>
    </div>
  </div>
</div>
