<footer class="main-footer container">
  <div class="footer__wrapper">
    <div class="footer__logo">
      <a href="#"><img src="assets/images/logo.png" alt="logo" /></a>
      <div class="logo__content">
        <a href="#" class="text text--dodger-blue text--sm">Site made with VanGoux</a>
      </div>
    </div>

    <div class="footer__social">
      <div class="footer__icon footer__icon--facebook">
        <a href="javascript:void(0)"> <img src="assets/icons/icon-facebook.svg" alt="facebook" /></a>
      </div>
      <div class="footer__icon footer__icon--instagram">
        <a href="javascript:void(0)"><img src="assets/icons/icon-instagram.svg" alt="instagram" /></a>
      </div>
    </div>

    <nav class="footer__navbar">
      <ul class="footer__list">
        <li class="col-6 col-md-3 footer__link">
          <a href="javascript:void(0)" class="text text--black text--sm">Contact</a>
        </li>
        <li class="col-6 col-md-3 footer__link">
          <a href="javascript:void(0)" class="text text--black text--sm">Feedback</a>
        </li>
        <li class="col-6 col-md-3 footer__link">
          <a href="javascript:void(0)" class="text text--black text--sm">Join our Slack</a>
        </li>
        <li class="col-6 col-md-3 footer__link">
          <a href="javascript:void(0)" class="text text--black text--sm">Terms</a>
        </li>
      </ul>
    </nav>
    <img class="footer__image" src="assets/images/footer-img.png" alt="vincent" />
  </div>
</footer>
