<footer class="main-footer">
  <div class="row row-lg">
    <div class="col-8 d-flex footer__logo">
      <a href="#"><img src="assets/images/logo.png" class="logo__image" alt="logo" /></a>
      <div class="d-flex center logo__content">
        <a href="javascript:void(0)" class="text text--button text--sm">Site made with VanGoux</a>
      </div>
    </div>
    <div class="col-4 d-flex footer__social">
      <div class="d-flex footer__icon footer__icon--facebook">
        <a href="javascript:void(0)"> <img src="assets/icons/icon-facebook.svg" alt="facebook" /></a>
      </div>
      <div class="d-flex footer__icon footer__icon--instagram">
        <a href="javascript:void(0)"><img src="assets/icons/icon-instagram.svg" alt="instagram" /></a>
      </div>
    </div>
    <nav class="col-12 footer__navbar">
      <ul class="row footer__list">
        <li class="col-3 col-md-3 center d-flex footer__link">
          <a href="javascript:void(0)" class="text text--black text--sm">Contact</a>
        </li>
        <li class="col-3 col-md-3 center d-flex footer__link">
          <a href="javascript:void(0)" class="text text--black text--sm">Feedback</a>
        </li>
        <li class="col-3 col-md-3 center d-flex footer__link">
          <a href="javascript:void(0)" class="text text--black text--sm">Join our Slack</a>
        </li>
        <li class="col-3 col-md-3 center d-flex footer__link">
          <a href="javascript:void(0)" class="text text--black text--sm">Terms</a>
        </li>
      </ul>
    </nav>
    <img class="footer__image" src="assets/images/footer-img.png" alt="vincent" />
  </div>
</footer>
