<header class="main-header container">
  <a href="#" class="d-flex-center header__logo">
    <img src="assets/images/logo.png" alt="VanGoux" class="logo__image" />
    <p class="text text--xl text--center logo__text">VanGoux</p>
  </a>
  <nav class="navbar">
    <img src="assets/icons/menu-close.svg" class="d-lg-none navbar__icon navbar__icon--close" alt="menu close" />
    <img src="assets/icons/menu-open.svg" class="d-none d-lg-none navbar__icon navbar__icon--open" alt="menu open" />
    <ul class="d-none d-lg-flex-center navbar__list">
      <li class="text text--center navbar__link">
        <a href="javascript:void(0)" class="text text--sm">How it works</a>
      </li>
      <li class="text--center navbar__link">
        <a href="javascript:void(0)" class="text text--sm">Features</a>
      </li>
      <li class="text--center navbar__link">
        <a href="javascript:void(0)" class="text text--sm">Use cases</a>
      </li>
      <li class="text--center navbar__link">
        <a href="javascript:void(0)" class="text text--sm">Schedule a demo</a>
      </li>
      <li class="d-none d-lg-block navbar__button">
        <a href="javascript:void(0)" class="btn btn--primary">Upload Sketch</a>
      </li>
    </ul>
  </nav>
</header>
