<header class="main-header container">
  <a href="#" class="d-flex center header__logo">
    <img src="assets/images/logo.png" alt="VanGoux" class="logo__img" />
    <p class="text text--xl text--center logo__text">VanGoux</p>
  </a>
  <nav class="navbar">
    <div class="navbar__menu">
      <box-icon name="menu" color="#1968fc" class="d-lg-none navbar__icon navbar__icon--close"></box-icon>
      <box-icon name="minus" color="#1968fc" class="d-none d-lg-none navbar__icon navbar__icon--open"></box-icon>
      <ul class="d-none d-lg-flex center--lg navbar__list">
        <li class="text text--center navbar__link">
          <a href="javascript:void(0)" class="text text--sm">How it works</a>
        </li>
        <li class="text--center navbar__link">
          <a href="javascript:void(0)" class="text text--sm">Features</a>
        </li>
        <li class="text--center navbar__link">
          <a href="javascript:void(0)" class="text text--sm">Use cases</a>
        </li>
        <li class="text--center navbar__link">
          <a href="javascript:void(0)" class="text text--sm">Schedule a demo</a>
        </li>
        <li class="d-none d-lg-block navbar__button"><button class="btn btn--primary">Upload Sketch</button></li>
      </ul>
    </div>
  </nav>
</header>
