<header class="main-header container">
  <a href="#" class="header__logo">
    <img src="assets/images/logo.png" alt="VanGoux" class="logo__img" />
    <p class="text text--xl logo__text">VanGoux</p>
  </a>
  <nav class="navbar">
    <label for="navbar__mobile" class="label__icon">
      <box-icon name="menu" color="#1968fc" class="navbar__menu"></box-icon>
    </label>
    <input type="checkbox" class="navbar__mobile" id="navbar__mobile" />
    <ul class="navbar__list">
      <li class="text text--center navbar__link">
        <a href="javascript:void(0)" class="text text--sm">How it works</a>
      </li>
      <li class="text--center navbar__link">
        <a href="javascript:void(0)" class="text text--sm">Features</a>
      </li>
      <li class="text--center navbar__link">
        <a href="javascript:void(0)" class="text text--sm">Use cases</a>
      </li>
      <li class="text--center navbar__link">
        <a href="javascript:void(0)" class="text text--sm">Schedule a demo</a>
      </li>
      <li class="navbar__button"><button class="btn btn--primary">Upload Sketch</button></li>
    </ul>
  </nav>
</header>
