<section class="hero container container--lg">
  <div class="row">
    <div class="col-12 col-lg-6 hero__content">
      <h1 class="d-xl-none hero__title">Launch websites directly from Sketch</h1>
      <h1 class="d-none d-xl-block hero__title">Launch beautiful websites directly from Sketch</h1>
      <p class="text text--xl hero__description">
        Create pixel perfect websites, landing pages & portfolios directly from your Sketch designs
      </p>
      <a href="javascript:void(0)" class="d-flex-center d-xl-none btn btn--secondary">See VanGoux in action</a>
      <a href="javascript:void(0)" class="d-none d-xl-flex-center btn btn--secondary">Upload Your Sketch File</a>
    </div>
    <div class="col-12 col-lg-6 hero__wrapper">
      <img src="./assets/images/hero-img.png" alt="hero image" class="hero__image" />
    </div>
  </div>
  <div class="d-lg-none d-flex-center hero__banner">
    <p class="text text--xl text--light text--center text--uppercase hero__banner__content">
      Please visit our desktop site to upload your Sketch designs
    </p>
  </div>
</section>
