<section class="hero">
  <div class="hero__small container container--lg">
    <div class="row">
      <div class="col-12 col-lg-6 hero__content">
        <h1 class="hero__title">Launch websites directly from Sketch</h1>
        <p class="text text--desc hero__description">
          Create pixel perfect websites, landing pages & portfolios directly from your Sketch designs
        </p>
        <button class="btn btn--secondary">See VanGoux in action</button>
      </div>
      <div class="col-12 col-lg-6 hero__wrapper">
        <img src="./assets/images/hero-img.png" alt="hero image" class="hero__image" />
      </div>
    </div>
  </div>
  <div class="hero__banner">
    <p class="text text--desc text--light text--center text--uppercase hero__banner__content">
      Please visit our desktop site to upload your Sketch designs
    </p>
  </div>
  <div class="hero__large container">
    <h1 class="hero__title">Launch beautiful websites directly from Sketch</h1>
    <p class="text text--desc hero__description">
      Create pixel perfect websites, landing pages & portfolios directly from your Sketch designs
    </p>
    <button class="btn btn--secondary">Upload Your Sketch File</button>
    <div class="hero__wrapper">
      <img src="./assets/images/hero-img.png" alt="hero image" class="hero__image" />
    </div>
  </div>
</section>
