<section class="hero container container--lg">
  <div class="row">
    <div class="col-12 col-lg-6 hero__content">
      <h1 class="hero__title">
        Launch <span class="d-none d-xl-inline">beautiful</span> websites directly from Sketch
      </h1>
      <p class="text text--xl hero__description">
        Create pixel perfect websites, landing pages & portfolios directly from your Sketch designs
      </p>
      <a href="javascript:void(0)" class="d-inline btn btn--secondary"
        ><span class="d-xl-none">See VanGoux in action</span>
        <span class="d-none d-xl-inline">Upload Your Sketch File</span>
      </a>
    </div>
    <div class="col-12 col-lg-6 hero__wrapper">
      <img src="./assets/images/hero-img.png" alt="hero image" class="hero__image" />
    </div>
  </div>
  <div class="d-lg-none d-flex-center hero__banner">
    <p class="text text--xl text--light text--center text--uppercase hero__banner__content">
      Please visit our desktop site to upload your Sketch designs
    </p>
  </div>
</section>
