<section class="process container">
  <h2 class="text title-section">How VanGoux works</h2>
  <div class="row steps">
    <div class="col-12 col-lg-4 d-flex step">
      <div class="d-flex step__header">
        <div>
          <p class="text text--xxs text--uppercase">Step 1</p>
          <h3 class="text text--blue step__upload">Upload Sketch</h3>
        </div>
        <div class="step__icon">
          <img src="assets/icons/upload.svg" alt="upload" />
        </div>
      </div>
      <p>Upload design for your site, landing page or portfolio</p>
      <include src="partials/components/decoration.html"></include>
    </div>
    <div class="col-12 col-lg-4 d-flex step">
      <div class="d-flex step__header">
        <div>
          <p class="text text--xxs text--uppercase">Step 2</p>
          <h3 class="text text--blue step__upload">Publish website</h3>
        </div>
        <div>
          <img src="assets/icons/download.svg" class="step__icon" alt="download" />
        </div>
      </div>
      <p>You get a publicly shareable link for your website</p>
      <include src="partials/components/decoration.html"></include>
    </div>
    <div class="col-12 col-lg-4 d-flex step">
      <div class="d-flex step__header">
        <div>
          <p class="text text--xxs text--uppercase">Step 3</p>
          <h3 class="text text--blue step__upload">Add domain</h3>
        </div>
        <div>
          <img src="assets/icons/icon-use-code.svg" class="step__icon" alt="use-code" />
        </div>
      </div>
      <p>Host it on a new or existing domain name</p>
      <include src="partials/components/decoration.html"></include>
    </div>
  </div>
</section>
