<section class="process container">
  <h2 class="text title-section">How VanGoux works</h2>
  <div class="row steps">
    <div class="col-12 col-lg-4 step">
      <div class="step__header">
        <div>
          <p class="text text--step">Step 1</p>
          <h3 class="text text--primary step__upload">Upload Sketch</h3>
        </div>
        <img src="assets/icons/upload.svg" class="step__icon" alt="upload" />
      </div>
      <p>Upload design for your site, landing page or portfolio</p>
    </div>
    <div class="col-12 col-lg-4 step">
      <div class="step__header">
        <div>
          <p class="text text--step">Step 2</p>
          <h3 class="text text--primary step__upload">Publish website</h3>
        </div>
        <img src="assets/icons/download.svg" class="step__icon" alt="download" />
      </div>
      <p>You get a publicly shareable link for your website</p>
    </div>
    <div class="col-12 col-lg-4 step">
      <div class="step__header">
        <div>
          <p class="text text--step">Step 3</p>
          <h3 class="text text--primary step__upload">Add domain</h3>
        </div>
        <img src="assets/icons/icon-use-code.svg" class="step__icon" alt="use-code" />
      </div>
      <p>Host it on a new or existing domain name</p>
    </div>
  </div>
</section>
