<section class="schedule">
  <div class="schedule__wrapper">
    <div class="schedule__content container">
      <div class="schedule__information">
        <h2 class="title-section schedule__title">Don’t know how to work with code?</h2>
        <p class="text text--xl schedule__description">
          Schedule a call and we'll show you how you could become a design-to-code rockstar using VanGoux.
        </p>
        <a href="javascript:void(0)" class="btn btn--light">Schedule a call with us</a>
      </div>

      <img src="assets/images/schedule-img.png" class="schedule__image show" alt="schedule image" />
    </div>
  </div>
</section>
