<section class="schedule">
  <div class="schedule__content">
    <div class="d-flex schedule__information container">
      <h2 class="title-section schedule__title">Don’t know how to work with code?</h2>
      <p class="text text--xl schedule__description">
        Schedule a call and we'll show you how you could become a design-to-code rockstar using VanGoux.
      </p>
      <a href="javascript:void(0)" class="d-flex-center btn btn--light">Schedule a call with us</a>
    </div>
  </div>
  <!-- <div class="d-none d-xl-block schedule__image">
    <img src="assets/images/schedule-img.png" class="schedule__image--img" alt="schedule image" />
  </div> -->
</section>
