<section class="services container">
  <h2 class="text title-section services__title">What can you do with VanGoux</h2>
  <div class="row services__list">
    <include
      src="partials/components/service.html"
      locals='{
      "service__image": "assets/images/solid-realistic-prototype.png",
      "service__alt": "reaslistic prototypes",
      "service__content": "Make realistic prototypes"
      }'
    ></include>
    <include
      src="partials/components/service.html"
      locals='{
      "service__image": "assets/images/solid-mvp.png",
      "service__alt": "mvp",
      "service__content": "Build an MVP as quickly as you can design"
      }'
    ></include>
    <include
      src="partials/components/service.html"
      locals='{
      "service__image": "assets/images/solid-landing-page.png",
      "service__alt": "landing page",
      "service__content": "Create pixel-perfect landing pages"
      }'
    ></include>
    <include
      src="partials/components/service.html"
      locals='{
      "service__image": "assets/images/solid-design-system.png",
      "service__alt": "design system",
      "service__content": "Generate a design system for your product"
      }'
    ></include>
  </div>
</section>
