<section class="services container">
  <h2 class="text title-section services__title">What can you do with VanGoux</h2>
  <div class="row services__list">
    <div class="col-12 col-lg-6 service">
      <img src="assets/images/solid-realistic-prototype.png" class="service__image" alt="reaslistic prototype" />
      <h3 class="text text--lg service__content">Make realistic prototypes</h3>
    </div>
    <div class="col-12 col-lg-6 service">
      <img src="assets/images/solid-mvp.png" class="service__image" alt="mvp" />
      <h3 class="text text--lg service__content">Build an MVP as quickly as you can design</h3>
    </div>
    <div class="col-12 col-lg-6 service">
      <img src="assets/images/solid-landing-page.png" class="service__image" alt="landing page" />
      <h3 class="text text--lg service__content">Create pixel-perfect landing pages</h3>
    </div>
    <div class="col-12 col-lg-6 service">
      <img src="assets/images/solid-design-system.png" class="service__image" alt="design system" />
      <h3 class="text text--lg service__content">Generate a design system for your product</h3>
    </div>
  </div>
</section>
