<section class="users container">
  <h2 class="text title-section users__title">Use cases</h2>
  <h2 class="text title-section users__title--active">Who is VanGoux for</h2>
  <section class="row users__list">
    <div class="col-12 col-md-6 col-lg-4 user">
      <h3 class="user__title">UX engineers</h3>
      <p>Build MVPs for your web app as fast as you can design</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4 user">
      <h3 class="user__title">UX designers</h3>
      <p>Create and share reaslistic prototypes of your website or app</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4 user">
      <h3 class="user__title">React developers</h3>
      <p>Auto-generate boilerplate components and design systems</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4 user">
      <h3 class="user__title">Design agencies</h3>
      <p>Close more clients by showing them how quickly you can build apps</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4 user">
      <h3 class="user__title">Startups</h3>
      <p>Go to market quickly by spinning up your website and apps</p>
    </div>
    <div class="col-12 col-md-6 col-lg-4 user">
      <h3 class="user__title">Enterprises</h3>
      <p>Quickly build design systems for your UX and product teams</p>
    </div>
  </section>
</section>
