/*-----------------------------------------*\
  #TYPOGRAPHY ELEMENT
\*-----------------------------------------*/
p {
  font-family: "Muli";
  color: var(--gray-color);
  font-size: 16px;
  line-height: 30px;
}
a {
  text-decoration: none;
}
a:hover {
  color: var(--second-color);
}

h1 {
  font-size: 40px;
  font-weight: var(--fw-semibold);
  font-family: "Muli";
  line-height: 60px;
}
h2 {
  font-size: 30px;
  font-family: "Muli";
  font-weight: var(--fw-normal);
  line-height: 60px;
}
h3 {
  font-size: 20px;
  font-family: "Muli";
  font-weight: var(--fw-semibold);
  line-height: 30px;
}

/*-----------------------------------------*\
  #TEXT CLASSES
\*-----------------------------------------*/
.text {
  font-family: "Muli";
  color: var(--gray-color);
}
.text--primary {
  color: var(--primary-color);
}
.text--second {
  color: var(--second-color);
}
.text--step {
  font-size: 12px;
  font-weight: var(--fw-bold);
  line-height: 20px;
  text-transform: uppercase;
}
.text--sm {
  font-size: 14px;
  font-weight: var(--fw-semibold);
  line-height: 20px;
}
.text--base {
  font-size: 16px;
}
.text--lg {
  font-size: 18px;
  font-weight: var(--fw-semibold);
  line-height: 30px;
}
.text--xl {
  font-size: 20px;
  font-weight: var(--fw-semibold);
  line-height: 30px;
}
.text--desc {
  font-size: 20px;
  line-height: 40px;
}
/*-----------------------------------------*\
  #SET FONT FAMILY
\*-----------------------------------------*/

@font-face {
  font-family: "Muli";
  src: url("../../fonts/Muli-LightItalic.eot");
  src: url("../../fonts/Muli-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/Muli-LightItalic.woff2") format("woff2"), url("../../fonts/Muli-LightItalic.woff") format("woff"),
    url("../../fonts/Muli-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url("../../fonts/Muli-Bold.eot");
  src: url("../../fonts/Muli-Bold.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/Muli-Bold.woff2") format("woff2"), url("../../fonts/Muli-Bold.woff") format("woff"),
    url("../../fonts/Muli-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url("../../fonts/Muli.eot");
  src: url("../../fonts/Muli.eot?#iefix") format("embedded-opentype"), url("../../fonts/Muli.woff2") format("woff2"),
    url("../../fonts/Muli.woff") format("woff"), url("../../fonts/Muli.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url("../../fonts/Muli-BoldItalic.eot");
  src: url("../../fonts/Muli-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/Muli-BoldItalic.woff2") format("woff2"), url("../../fonts/Muli-BoldItalic.woff") format("woff"),
    url("../../fonts/Muli-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url("../../fonts/Muli-ExtraLight.eot");
  src: url("../../fonts/Muli-ExtraLight.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/Muli-ExtraLight.woff2") format("woff2"), url("../../fonts/Muli-ExtraLight.woff") format("woff"),
    url("../../fonts/Muli-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url("../../fonts/Muli-SemiBold.eot");
  src: url("../../fonts/Muli-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/Muli-SemiBold.woff2") format("woff2"), url("../../fonts/Muli-SemiBold.woff") format("woff"),
    url("../../fonts/Muli-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url("../../fonts/Muli-ExtraLightItalic.eot");
  src: url("../../fonts/Muli-ExtraLightItalic.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/Muli-ExtraLightItalic.woff2") format("woff2"),
    url("../../fonts/Muli-ExtraLightItalic.woff") format("woff"),
    url("../../fonts/Muli-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url("../../fonts/Muli-Semi-BoldItalic.eot");
  src: url("../../fonts/Muli-Semi-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/Muli-Semi-BoldItalic.woff2") format("woff2"),
    url("../../fonts/Muli-Semi-BoldItalic.woff") format("woff"),
    url("../../fonts/Muli-Semi-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
