* {
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 81%;
  max-width: var(--screen-md);
  margin: 0 auto;
}

.container--lg {
  width: 100%;
}

.content {
  margin-top: 86px;
}

.active {
  display: none !important;
}

.inactive {
  display: block !important;
}

@media (min-width: 992px) {
  .container {
    width: 90%;
    max-width: var(--screen-lg);
  }

  .container--lg {
    width: 90%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: var(--screen-big-lg);
  }

  .content {
    margin-top: 140px;
  }

  .active {
    display: block !important;
  }

  .inactive {
    display: none !important;
  }
}
