* {
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.container {
  width: 81%;
  max-width: var(--screen-md);
  margin: 0 auto;
}

.container--lg {
  width: 100%;
}

.content {
  margin-top: 60px;
}

.center {
  align-items: center;
  justify-content: center;
}

.d-flex {
  display: flex;
}

.d-none {
  display: none;
}

@media (min-width: 576px) {
  html {
    font-size: 16px;
  }

  .content {
    margin-top: 86px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 90%;
    max-width: var(--screen-lg);
  }

  .container--lg {
    width: 90%;
  }

  .center--lg {
    align-items: center;
    justify-content: center;
  }

  .d-lg-block {
    display: block;
  }

  .d-lg-none {
    display: none;
  }

  .d-lg-flex {
    display: flex;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: var(--screen-big-lg);
  }

  .content {
    margin-top: 140px;
  }

  .center--xl {
    align-items: center;
    justify-content: center;
  }

  .d-xl-block {
    display: block;
  }

  .d-xl-none {
    display: none;
  }

  .d-xl-flex {
    display: flex;
  }
}
