p {
  font-family: "Muli";
  color: var(--gray-color);
  font-size: 1rem;
  font-weight: var(--fw-normal);
  line-height: 1.875;
}

a {
  text-decoration: none;
}
a:hover {
  color: var(--button-color);
}

h1 {
  font-size: 2.5rem;
  font-weight: var(--fw-semibold);
  font-family: "Muli";
  line-height: 1.5;
}

h2 {
  font-size: 1.875rem;
  font-family: "Muli";
  font-weight: var(--fw-normal);
  line-height: 2;
}

h3 {
  font-size: 1.25rem;
  font-family: "Muli";
  font-weight: var(--fw-semibold);
  line-height: 1.5;
}

.text {
  font-family: "Muli";
  color: var(--gray-color);
}

.text--light {
  color: var(--light-color);
}

.text--dark {
  color: var(--dark-color);
}

.text--blue {
  color: var(--title-color);
}

.text--button {
  color: var(--button-color);
}

.text--black {
  color: var(--black-color);
}

.text--xxs {
  font-size: 0.75rem;
  font-weight: var(--fw-bold);
  line-height: 1.7;
}

.text--sm {
  font-size: 0.875rem;
  font-weight: var(--fw-semibold);
  line-height: 1.4;
}

.text--base {
  font-size: 1rem;
}

.text--lg {
  font-size: 1.125rem;
  font-weight: var(--fw-semibold);
  line-height: 1.7;
}

.text--xl {
  font-size: 1.25rem;
  font-weight: var(--fw-normal);
  line-height: 2;
}

.text--bold {
  font-weight: var(--fw-bold);
}

.text--center {
  width: 100%;
  text-align: center;
}

.text--uppercase {
  text-transform: uppercase;
}

.text--italic {
  font-style: italic;
}

@font-face {
  font-family: "Muli";
  src: url("../../fonts/Muli-Bold.eot");
  src: url("../../fonts/Muli-Bold.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/Muli-Bold.woff2") format("woff2"), url("../../fonts/Muli-Bold.woff") format("woff"),
    url("../../fonts/Muli-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url("../../fonts/Muli.eot");
  src: url("../../fonts/Muli.eot?#iefix") format("embedded-opentype"), url("../../fonts/Muli.woff2") format("woff2"),
    url("../../fonts/Muli.woff") format("woff"), url("../../fonts/Muli.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url("../../fonts/Muli-SemiBold.eot");
  src: url("../../fonts/Muli-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../../fonts/Muli-SemiBold.woff2") format("woff2"), url("../../fonts/Muli-SemiBold.woff") format("woff"),
    url("../../fonts/Muli-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
