.main-header {
  position: relative;
  display: grid;
  grid-template-areas: "header__logo navbar";
  justify-content: space-between;
  margin-top: 35px;
}

.header__logo {
  grid-area: header__logo;
  gap: 10px;
}

.logo__text {
  width: 50px;
  color: var(--button-color);
  line-height: 1.5;
}

.logo__image {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
}

.navbar {
  grid-area: navbar;
  align-self: center;
}

.navbar__icon {
  width: 1.875em;
  height: 1.875em;
}

.navbar__list {
  grid-area: navbar__mobile__list;
}

@media (min-width: 576px) {
  .logo__text {
    width: 100px;
  }

  .logo__image {
    width: 3.125rem;
    height: 3.125rem;
  }
}

@media (min-width: 992px) {
  .main-header {
    margin-top: 35px;
  }

  .navbar__link {
    width: 120px;
  }

  .navbar__button {
    align-self: center;
    margin-left: 1.25em;
  }
}

@media (max-width: 992px) {
  .navbar__menu:hover .navbar__icon--close {
    display: none;
  }

  .navbar__menu:hover .navbar__icon--open {
    display: block;
  }

  .navbar__menu:hover .navbar__list {
    position: absolute;
    top: 110%;
    right: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    width: 50%;
    padding: 1.875em 0;
    background: var(--light-color);
    border-radius: 15px;
    box-shadow: var(--shadow-color) 0 8px 24px;
  }
}

@media (min-width: 1200px) {
  .main-header {
    margin-top: 1.875em;
  }

  .navbar__link {
    width: 120px;
  }

  .navbar__link:nth-child(4) {
    width: 180px;
  }
}
