/*------------------------------------*\
  #CSS VARIABLES
\*------------------------------------*/

:root {
  --primary-font: "Muli";
  --fw-extrabold: 900;
  --fw-bold: 700;
  --fw-regular: 500;
  --fw-light: 400;
  --primary-color: #1968fa;
  --second-color: #1968fc;
  --primary-bg-color: #ffffff;
  --shadow-color: #3145f419;
  --third-color: #000000;
}

/*-----------------------------------------*\
    #GLOBAL ELEMENTS
  \*-----------------------------------------*/
p {
  font-family: "Muli";
  color: #11223f;
  font-size: 16px;
  line-height: 30px;
}
a {
  text-decoration: none;
}
a:hover {
  color: var(--second-color);
}

h1 {
  color: #11223f;
  font-size: 30px;
  font-family: "Muli";
  line-height: 60px;
}
h2 {
  color: var(--primary-color);
  font-size: 20px;
  font-family: "Muli";
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
}
h3 {
  font-weight: 600;
  line-height: 30px;
}
/*-----------------------------------------*\
    #GLOBAL CLASSES
  \*-----------------------------------------*/
.container {
  width: 1120px;
  margin: 0 auto;
  position: relative;
}
.content {
  margin-top: 140px;
}
.text {
  font-family: "Muli";
  color: #11223f;
}
.text--primary {
  color: var(--primary-color);
}
.text--second {
  color: var(--second-color);
}
.text--step {
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}
.text--sm {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}
.text--base {
  font-size: 16px;
}
.text--lg {
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
}
.text--xl {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}
.text--desc {
  font-size: 20px;
  line-height: 40px;
}

/*-----------------------------------------*\
    #SET FONT FAMILY
  \*-----------------------------------------*/
@font-face {
  font-family: "Muli";
  src: url("../fonts/");
  src: url("../fonts/?#iefix") format("embedded-opentype"),
    url("../fonts/Muli-Italic.woff2") format("woff2"),
    url("../fonts/Muli-Italic.woff") format("woff"),
    url("../fonts/Muli-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url("../fonts/Muli-Light.eot");
  src: url("../fonts/Muli-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Muli-Light.woff2") format("woff2"),
    url("../fonts/Muli-Light.woff") format("woff"),
    url("../fonts/Muli-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url("../fonts/Muli-LightItalic.eot");
  src: url("../fonts/Muli-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Muli-LightItalic.woff2") format("woff2"),
    url("../fonts/Muli-LightItalic.woff") format("woff"),
    url("../fonts/Muli-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url("../fonts/Muli-Bold.eot");
  src: url("../fonts/Muli-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Muli-Bold.woff2") format("woff2"),
    url("../fonts/Muli-Bold.woff") format("woff"),
    url("../fonts/Muli-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url("../fonts/Muli.eot");
  src: url("../fonts/Muli.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Muli.woff2") format("woff2"),
    url("../fonts/Muli.woff") format("woff"),
    url("../fonts/Muli.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url("../fonts/Muli-BoldItalic.eot");
  src: url("../fonts/Muli-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Muli-BoldItalic.woff2") format("woff2"),
    url("../fonts/Muli-BoldItalic.woff") format("woff"),
    url("../fonts/Muli-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url("../fonts/Muli-ExtraLight.eot");
  src: url("../fonts/Muli-ExtraLight.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Muli-ExtraLight.woff2") format("woff2"),
    url("../fonts/Muli-ExtraLight.woff") format("woff"),
    url("../fonts/Muli-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url("../fonts/Muli-SemiBold.eot");
  src: url("../fonts/Muli-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Muli-SemiBold.woff2") format("woff2"),
    url("../fonts/Muli-SemiBold.woff") format("woff"),
    url("../fonts/Muli-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url("../fonts/Muli-ExtraLightItalic.eot");
  src: url("../fonts/Muli-ExtraLightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Muli-ExtraLightItalic.woff2") format("woff2"),
    url("../fonts/Muli-ExtraLightItalic.woff") format("woff"),
    url("../fonts/Muli-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Muli";
  src: url("../fonts/Muli-Semi-BoldItalic.eot");
  src: url("../fonts/Muli-Semi-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/Muli-Semi-BoldItalic.woff2") format("woff2"),
    url("../fonts/Muli-Semi-BoldItalic.woff") format("woff"),
    url("../fonts/Muli-Semi-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
