.title-section {
  text-transform: uppercase;
  position: relative;
}

.title-section::before {
  content: "";
  width: 40px;
  height: 2px;
  position: absolute;
  top: 117%;
  background: var(--button-color);
  box-shadow: 0px 2px 0px 0px var(--shadow-light-color);
}

@media (min-width: 576px) {
  .title-section::before {
    width: 80px;
  }
}
@media (min-width: 1200px) {
  .title-section::before {
    left: -2.5rem;
  }
}
